
#box1{
    width: 100vw;
    height: 100vh;
    background-color: rgb(7, 236, 38);

    display: flex;
    justify-content: center;
    align-items: center;
}


#box2{
    width: 1000px;
    height: 900px;
    background-color: #100000;
  
    
    display: flex;
    justify-content: center;
    align-items: center;
}


#box3{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}


#box3 div{
    width: 100px;
    height: 100px;
    background-color: red;
    box-shadow: 5px 5px 5px 5px ;
}
