* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

#border-pro{
    width: 400px;
    height: 400px;
    background-color: rgb(18, 169, 224);
    margin: auto;
    border-width: 20px;
    border-style: double;
    border-color: blanchedalmond;
    border-radius: 15px;

}